* {
  margin: 0;
  padding: 0;
}

.isDelete-bg {
  display: flex;
  display: none;
  position: absolute;
  position: fixed;
  z-index: 999;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0.3);
}

.isDelete-layout {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 340px;
  background-color: white;
}

.cancel-err {
  float: right;
  color: #666;
  font-size: 32px;
}

.warn-info {
  display: flex;
  margin-top: 26px;
}

.warn-img {
  color: #f1c826;
  font-size: 24px;
}

.warn-desc {
  margin-left: 20px;
}

.warn-desc1 {
  line-height: 24px;
  color: #333;
  font-size: 20px;
}

.warn-desc2 {
  margin-top: 8px;
  color: #666;
  font-size: 20px;
}

.user-select {
  float: right;
  margin-top: 20px;
}

.button {
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 4px;
}

.confirm {
  background-color: #308cfe;
}

.cancal-font {
  color: #333;
  border: 1px solid #333;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
}

.status-bar {
  display: flex;
  padding: 20px;
  width: calc((90% - 58px)/4);
  border-radius: 4px;
}

.sort {
  font-size: 14px;
}

.order {
  color: red;
  z-index: 999;
  position: relative;
}

.des-order {
  color: #308cfe;
  z-index: 999;
  position: relative;
}

.search-layout {
  position: relative;
  left: calc(100% - 400px);
}

.search-img {
  position: absolute;
  top: 200px;
  font-size: 20px;
  color: #333;
  float: right;
}

.search {
  width: 200px;
  height: 32px;
  padding: 0 38px 0 12px;
  border-radius: 20px;
  border: 1px solid #eee;
}

.all-task {
  background-color: #31b48d;
}

.unsolved {
  background-color: #38a1f2;
}

.processing {
  background-color: #7538c7;
}

.processed {
  background-color: #3b67a4;
}

.type-and-count {
  flex: 2;
  color: white;
  font-family: serif, "Microsoft YaHei";
}

.task-type {
  font-size: 14px;
  margin-bottom: 20px;
}

.task-count {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.type-img {
  position: relative;
  flex: 1;
  text-align: right;
}

.in-time {
  position: absolute;
  right: 16px;
  top: 14px;
  padding: 2px;
  color: white;
  font-size: 12px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.section {
  margin-top: 20px;
}

.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.table-header {
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  font-weight: bolder;
  border-bottom: 1px solid #dcdee3;
  background: #ebecf0;
}

.item-name {
  flex: 2;
}

.item-describe {
  flex: 4;
}

.describe-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 90%;
  word-wrap: break-word;
}

.describe-content:hover {
  overflow: visible;
  width: 90%;
  word-wrap: break-word;
}

.deadline {
  flex: 1;
}

.status {
  flex: 1;
}

.operation {
  flex: 1;
}

.delete-button {
  background-color: #ee706d;
}

.table-content {
  border-bottom: 1px solid #ccc;
}

.ACTIVE {
  color: #666;
}

.PENDING {
  color: #ee706d;
}

.CLOSED {
  color: #f7da47;
}

@media screen and (max-width: 800px) {
  .iconfont {
    font-size: 60px;
  }
}